.portada{
    background-image: linear-gradient(to bottom right,
#5d1a23 0%,
#5f252a 20%,
#aa3a3e 40%,
#7c2427 60%,
#9b3134 80%
);
    background-repeat: no-repeat;
    background-size:200% 200% ;
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    animation: mov 6s linear infinite alternate;
    

}

@keyframes mov{
    from {
        background-position: 0 0;

    }
    to{
        background-position: 100% 100%;
    }
}
.boton {
    border: 3px solid rgba(100,100,100,0.1);
    border-radius: 8px;
    background-size:190%;
    margin-top:10px;
    background-image: linear-gradient(to left, rgb(230, 197, 90),#641c34,rgb(230, 197, 90));
    
    height: 4rem;
    color: rgb(248, 248, 248);
    font-size:30px;
    width:300px;
    transition: 0.5s ;
    cursor:pointer;
    
    
    }
    .boton:hover{
        background-position: right;
        color:rgb(255, 255, 255);
        border-color: #dfc037;
        border-style:ridge;
    }
    .margen{
    width: fit-content;
    margin:30px 30px
    }
    .texto{
   height: 100vh;
        color:aliceblue;
     top:0;
     left:0;
     right: 0;
     bottom:0;
     margin-bottom: 0;
    align-self: stretch;
    font-size: 1rem;
    
    }
    .datos{
        height: 25%;
        display:flex;
        flex-direction: column;
        align-items: space-evenly;
        row-gap: 15px;
    }
    .estadisticas{
        height: 15%;
    }
    .input{
        border:none ;
        background-color:#ffffff71 ;
        border-radius: 20px;
        width: 15rem;
        height: 3rem;
    
        transition: background-color 0.3s;
        font-size: 2rem;
        font-weight: 300;
        text-align:center;
        transition: background-color 0.25s
    }
    .input:hover{
        background-color:#ffffffc4 ;
    }
    
    .input:focus{
        outline: none;
    }
    .input1{
        border:none ;
        background-color:#ffffff71 ;
        border-radius: 0.5rem;
        width: 4rem;
        height: 2rem;

        transition: background-color 0.3s;
        font-size: 1.5rem;
        font-weight: 30;
        text-align: center;
        
        transition: background-color 0.25s

    }
    .input1:hover{
        background-color:#ffffffc4 ;
    }
    
    .input1:focus{
        outline: none;
    }
    .separacion{
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        
    }
    .separacionn1{
        display: flex;
        flex-direction: row;
        column-gap: 60px;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        margin-left: 79px;
        width: 84%;
    }
    .separacionn2{
        display: flex;
        flex-direction: row;
        column-gap: 35px;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        margin-left: 78px;
        width: 84%;
    }
    .s{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: space-evenly;
        justify-content: space-evenly;
        margin-top:40px;
    }
    .sep{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        margin-left: 10px;
      
    }
    .tipos{
        height: 25%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 95px;
        row-gap: 5px;
        font-size: 2em;
        
    }
    .circulo{
        height: 1.5rem;
        width: 1.5rem;

    }
    .label{
        font-size: 2em;
    }