.portada{
    background-image: url(../imagen/Pokemon\ wallpaper\ \ \ Game\ wallpapers\ \ \ 23075.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position:fixed;
}


.texto{
    color:aliceblue
}