.portada{
    /* background-image: url(../imagen/Pokemonnegro.jpg); */
    background-image: url(../imagen/wallpapersden.com_red-and-pikachu-pokemon_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size:100% 100% ;
    position:fixed;
    min-width: 100%;
    min-height: 100%;
}


.boton {
    border: 3px solid rgba(100,100,100,0.1);
    border-radius: 8px;
    background-size:190%;
    margin-top:10px;
    background-image: linear-gradient(to left, rgb(230, 197, 90),#10690def,rgb(230, 197, 90));
    font-family: 'Philosopher', sans-serif;
    height: 4rem;
    color: rgb(248, 248, 248);
    font-size:30px;
    width:300px;
    transition: 0.5s ;
    cursor:pointer;
    
    
    }
    .boton:hover{
        background-position: right;
        color:rgb(255, 255, 255);
        border-color: #dfc037;
        border-style:ridge;
    }

    .position{
       margin-top: 18%;
       margin-left: 0;
       width: 20%;
    }
    .bola{
        width: 65%;
        height:15%;
    }
    .bola:hover{
        transition: 4s;
        transform: rotate(360deg);
    }
   
    .botonf{
        height: 20%;
left: 0;
    
    
    }






