.boton{
 padding: 14px 20px;
 border-radius: 30px;
 font-size: 1em;
 cursor:pointer;
 background-color:rgb(230, 197, 90);
}
.boton:hover{
    background-color:rgb(231, 190, 57)
}
.filtro{
    display:flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
}
.tipos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
    font-size: 0.8em;
}
.boton1{
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.5em;
    cursor:pointer;
    background-color:rgb(230, 197, 90);
   }
   .boton1:hover{
       background-color:rgb(231, 190, 57)
   }
   .h2{
       margin-bottom: 0%;
   }
   .crear{
       color:black;

       text-decoration:none;
   }