.portada{
    background-image: linear-gradient(to bottom right,
    #5d1a23 0%,
#5f252a 20%,
#aa3a3e 40%,
#7c2427 60%,
#9b3134 80%
);
    background-repeat: no-repeat;
    background-size:200% 200% ;
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Cinzel Decorative', cursive;
    animation: mov 6s linear infinite alternate;
    

}

@keyframes mov{
    from {
        background-position: 0 0;

    }
    to{
        background-position: 100% 100%;
    }
}
.boton{
    background-color:#ce7885;
    border-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin:5px;
    font-size:2em;
    cursor:pointer;
    
}
.filas{
    display:flex;
    flex-direction: row;

}
.Navegacion{
    width: 27%;
    height: 100%;
    margin-left: 20px;
    margin-top: 20px;
    background-color:transparent;
    padding-left: 12px;
    padding-bottom: 15px;
    border-radius:99px;
    border-style: ridge;
    border-color:  linear-gradient(to left, rgb(230, 197, 90),#641c34,rgb(230, 197, 90));;

}

.pokemones{
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paginado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
}
.lista{
    height: 80vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
    justify-content: space-evenly;
    column-gap: 20px;
}
.lista::-webkit-scrollbar{
    width: 6px;
}
.lista::-webkit-scrollbar-thumb{
    background: #8f8f8f; 
    border-radius: 4px;
}
.aviso{
    font: size 20rem;
    margin-top:300px
}
