.portada{
    /* background-image: linear-gradient(to bottom right,
    #5d1a23 0%,
#5f252a 20%,
#aa3a3e 40%,
#7c2427 60%,
#9b3134 80%
);
    background-repeat: no-repeat;
    background-size:200% 200% ;
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Cinzel Decorative', cursive;
    animation: mov 6s linear infinite alternate; */
    /* background-color: white; */
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    background-image: url(../imagen/Pokemon-Unite-llega-a-mas-jugadores-y-con-una-nueva-temporada-lavidaesunvideojuego.jpg);
    background-repeat: no-repeat;
    background-size:100% 100% ;
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    

}

/* @keyframes mov{
    from {
        background-position: 0 0;

    }
    to{
        background-position: 100% 100%;
    }
} */
.boton{
    background-color:#ce7885;
    border-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin:5px;
    font-size:2em;
    cursor:pointer;
    
}
.filas{
    display:flex;
    flex-direction: row;
    min-height: 90vh;


}

.Navegacion{
    width: 25vw;
    height: 70vh;
    background-color:transparent;
  
    border-style: ridge;


 

}

.pokemones{
    width: 73%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.paginado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    height: 10%;
}
.lista{
    height: 70vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin-top:2% ;
    margin-left: 2%;
    margin-right: 2%;
     justify-content: space-evenly; 
    column-gap: 2%;
    row-gap: 3%;
    padding-bottom: 10px ;
    
    /* display:grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(150px, 1fr)
    );
    gap:16px; */
   
}
.lista::-webkit-scrollbar{
    width: 6px;
}
.lista::-webkit-scrollbar-thumb{
    background: #da0e0e; 
    border-radius: 4px;
}
.aviso{
    font: size 20rem;
    margin-top:300px
}
.spiner{
    margin-left: 25%;
    width: 60%;
    
}